#contain {
	color: rgb(82,82,82);
}

.new-project {
	text-align: center;
}

.cart {
	height: 100px;
	width: 100px;
	float: right;
	display: inline
}

.cart-total {
	float: right;
	position: relative;
	top: 100px;
	left: 55px;
}

.project-steps {
	list-style: none;
	padding: 0;
}

.author {
	font-size: 0.7em;
	position: relative;
	bottom: 15px;
}

.underline {
	text-decoration: underline;
}

.stars {
	position: relative;
	bottom: 25px;
}

.time-money {
	position: relative;
	bottom: 25px;
}

.project-image>img{
	width: 500px;
	height: 250px;
	border: 2px solid black;
}

.project-description {
	position: relative;
	top: 15px;
	padding-bottom: 25px;
}

.project-description>p {
	font-size: 0.8em;
}

.project-step-list {
	margin-top: 50px;
}

.project-step {
	margin-bottom: 100px;
}

.step-image {
	text-align: center;
	padding-bottom: 50px;
}

.step-image>img {
	height: 200px;
	width: 275px;
	border: 2px solid black;
}